Alert	{
    backgroundColor: #d3e0f8;
    color: #000000;
    borderColor: #466294;
    dropShadowEnabled: false;
    font-family:verdana;
    font-size:12;
}

.TablaDatos	{
	horizontalGap: 0;
	verticalGap: 0;
	borderColor: #000000;
	borderStyle: solid;
	cornerRadius: 3;	
}

.CeldaConEncabezado	{
	backgroundColor: #466294;
	horizontalAlign: center;
	verticalAlign: middle;
}

.EncabezadoTabla	{
	fontFamily: verdana;
	color: #FFFFFF;
	fontSize: 12;
	fontWeight: bold;
}

.TituloCampo	{
	fontFamily: verdana;
	color: #000000;
	fontSize: 10;
	fontWeight: none;
	height: 100;
}

.CeldaConTituloCampo	{
	paddingLeft: 5;
	backgroundColor: #d3e0f8;
	horizontalAlign: left;
	verticalAlign: middle;
}

.CeldaConTextoCampo	{
	paddingLeft: 5;
	backgroundColor: #ffffff;
	horizontalAlign: left;
	verticalAlign: middle;
}

.TextoCampo	{
	fontFamily: verdana;
	color: #000000;
	fontSize: 10;
	fontWeight: none;
}


