<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>ManReqWEB</display-name>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.application</param-value>
	</context-param>
     <filter>
	     <filter-name>SecurityFilter</filter-name>
	     <filter-class>
	                com.tmmas.scl.operations.crm.fab.cim.manreq.web.filter.SecurityFilter
	     </filter-class>
        <init-param>
              <param-name>errorPage</param-name>
              <param-value>/error.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
			<filter-name>SecurityFilter</filter-name>
			<url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<servlet>
		 <!-- Standard Action Servlet Configuration (with debugging) -->
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/config/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/cpu</param-name>
			<param-value>/WEB-INF/config/struts-config-cpu.xml</param-value>
		</init-param>	
		<init-param>
			<param-name>config/producto</param-name>
			<param-value>/WEB-INF/config/struts-config-producto.xml</param-value>
		</init-param>	
		<init-param>
			<param-name>config/productoAfin</param-name>
			<param-value>/WEB-INF/config/struts-config-productoAfin.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/productoFrec</param-name>
			<param-value>/WEB-INF/config/struts-config-productoFrec.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/abonadoBeneficiario</param-name>
			<param-value>/WEB-INF/config/struts-config-abonadobenef.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/abonadoVetado</param-name>
			<param-value>/WEB-INF/config/struts-config-abonadovetado.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/anulaSolicitud</param-name>
			<param-value>/WEB-INF/config/struts-config-anulaSolicitud.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
           <param-name>config-manreq</param-name>
  		   <param-value>/WEB-INF/dwr.xml</param-value>
		</init-param>
	    <init-param>
	      <param-name>config-numeros</param-name>
	      <param-value>/WEB-INF/dwr-numerosfrec.xml</param-value>
	    </init-param>
	    <init-param>
	      <param-name>config-ordServAboBenef</param-name>
	      <param-value>/WEB-INF/dwr-ordServAboBenef.xml</param-value>
	    </init-param>
	    <init-param>
	      <param-name>config-EliminarCargos</param-name>
	      <param-value>/WEB-INF/dwr-EliminarCargos.xml</param-value>
	    </init-param>	    
	</servlet>
	<servlet-mapping>
		 <!-- Standard Action Servlet Mapping -->
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config> 
   
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- Servlet Ajax -->   
	 
      <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>

		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
			<taglib-location>/WEB-INF/tld/sql.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/xml</taglib-uri>
			<taglib-location>/WEB-INF/tld/x.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-bean</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-html</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-logic</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-tiles</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-nested</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
		</taglib>
   
	</web-app>
