body{
	background	: #FFF;
	color		: #333;
    font		: 76% Arial,sans-serif;
}

ul#titulo1,ul#titulo1 li{
	margin		: 0;
	padding 	: 0;
	list-style	: none;
	width		: 900px;
	margin-left	: auto;
	margin-right: auto;
}
ul#titulo1 li{
	float	: left;
	width	: 900px;
	margin	: 0 10px 10px 0
}
ul#titulo1 h3{
    font-family	: arial;
	font-Size	: 11px;
	font-Weight	: bold;
	text-transform	: uppercase;
	text-align		: left;
	xtext-decoration: bold;
	xfont			: 11px arial bold;
	margin			: 0px;
	padding			: 5px 5px 5px;
	color			: #1A61E6;
}
ul#titulo1 p{
	margin	:0;
	padding	:5px 8px 15px
}
li#one h3{
	background	: #EEEEEE
}
ul#titulo1 div{
	background	: #FFFFFF
}
li#one div{
	border	: 1px solid #EEEEEE
}

div#direccionPopup {
	position: absolute;
	top		: 10px;
	left	: 10px;
	width	: 950px;
	height	: 450px;
	background-color: #84B6DC;
	border		: 10;
	visibility	: hidden;
}