Alert	{
    background-Color: #d3e0f8;
    color: #000000;
    border-Color: #466294;
    dropShadowEnabled: false;
    font-family:verdana;
    font-size:12;
}

.filtroSolicitud{
    font-family	: arial;
	font-Size	: 10;
	font-Weight	: normal;
	color		: #1A61E6;
	padding		: 5px 15px 0px 15px; /*top right bottom left*/
}

.encabezadoSolicitud{
    font-family	: arial;
	font-Size	: 10;
	font-Weight	: normal;
	color		: #1A61E6;
	padding		: 5px 2px 0px 2px; /*top right bottom left*/
	width		: 100%;
	border-top	: solid 1px #DDDDDD;/*7F9DB9;*/
	border-collapse	: collapse;
}

.subtituloSolicitud{
    font-family	: arial;
	font-Size	: 11px;
	font-Weight	: bold;
	text-align	: left;
	margin		: 0px;
	padding		: 5px 5px 5px 5px; /*top right bottom left*/
	color		: #1A61E6;
	background	: #EEEEEE;
	border-top	: solid 1px #DDDDDD;/*7F9DB9;*/
	/*border-collapse	: collapse;*/
}

.setCampos{
    font-family	: arial;
	font-Size	: 11px;
	font-Weight	: bold;
	text-align	: left;
	margin		: auto;
	color		: #1A61E6;
	width		: 860px;
	padding		: 10px 0px 0px 0px; /*top right bottom left*/
}

.setCamposHalf{
    font-family	: arial;
	font-Size	: 11px;
	font-Weight	: bold;
	text-align	: left;
	margin		: auto;
	color		: #1A61E6;
	width		: 400px;
	padding		: 10px 0px 0px 0px; /*top right bottom left*/
}

.setCamposHalf2{
    font-family	: arial;
	font-Size	: 11px;
	font-Weight	: bold;
	text-align	: left;
	margin		: auto;
	color		: #1A61E6;
	width		: 300px;
	padding		: 10px 0px 0px 0px; /*top right bottom left*/
}

.leyendaSetCampos{
    font-family	: arial;
	font-Size	: 11px;
	font-Weight	: bold;
	text-align	: left;
	margin		: auto;
	color		: #808080;
}

.bulletSolicitud{
	background	: #ffffff url('images/bullet_blue_largo.png') no-repeat center right;
	width		: 33px;
}

.tablaCampos {
	border-collapse	: collapse;
	margin-left		: auto;
	margin-right	: auto;
	width			: 840px;
}

.tablaDatos, .tablaDatos2, .tablaArticulos, .tablaArticulosCredito, .tablaDvPuP , .tablaHistorial, .tablaHistorialDiv{
	border			: solid 1px #CCD1D6;/*7F9DB9;*/
	border-collapse	: collapse;
	background-color: #EAF1F6;
	color			: #1A61E6;
	margin-left		:auto;
	margin-right	:auto;
}

.tablaArticulos{
	width: 705px;
}

.tablaArticulosCredito {
	width: 815px;
}

.tablaHistorial{
	width : 802px;
	height: 200px;
	margin-left		:22px;
	margin-right	:auto;
}

.tablaHistorialDiv{
	border-top: none;
	/*width : 100%;
	margin-left		:22px;
	margin-right	:auto;*/
}

.tablaDatos2 {
	width: 898px;
}

.tablaDatos{
	width: 886px;
}

tr.busquedaPar{
	background-color: #F2F9FE;
	/*xpadding-left	: 5px;
	xpadding-right	: 5px;*/
}

tr.busquedaImpar{
	background-color: #EEF5FA;
	/*padding-left	: 5px;
	padding-right	: 5px;*/
}

td.busqueda, td.busquedaNoDataFound, td.busquedaSmall{
	border-right-color:#CCD1D6;
	border-right-style:solid;
	border-right-width:1px;
}

td.busqueda{
	padding-left	: 5px;
	padding-right	: 5px;
	font-family		: arial;
	font-Size		: 10px;
	font-Weight		: normal;
	color			: #566C81;
	
}

td.busquedaSmall{
	padding-left	: 5px;
	padding-right	: 5px;
	font-family		: arial;
	font-Size		: 9px;
	font-Weight		: normal;
	color			: #566C81;
}
	
td.busquedaNoDataFound{
	color: red;	
	text-align: center;
	
}	

th.encBusqueda{
	border-bottom-color:#CCD1D6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-right-color:#CCD1D6;
	border-right-style:solid;
	border-right-width:0px;	
	text-align	: center;
	height		: 20px;
}

.historial a { 
	background-image: url("Imagenes/botones/FwkChooserOff.gif"); 
	color: #666666; 
	text-decoration: none; 
	display: block; 
	width: 100%; 
} 

.historial a:hover { 
	background-image: url("Imagenes/botones/FwkChooserOn.gif"); 
	color: #ffffcc; 
}

.comboboxSolicitud{
	width		: 180px; 
	height		: 20px;
	color		: #003C74; 
	font-family	: arial;
	font-Size	: 10px;
	font-Weight	: normal;   
}

.comboboxSolicitudSuper{
	width		: 225px; 
	height		: 20px;
	color		: #003C74; 
	font-family	: arial;
	font-Size	: 10px;
	font-Weight	: normal;   
}

.textboxSolicitud{
	width		: 174px; 
	height		: 14px;
	color		: #003C74; 
	font-family	: arial;
	font-Size	: 10px;
	font-Weight	: normal;   
}

.textboxSolicitudSuper{
	width		: 224px; 
	height		: 14px;
	color		: #003C74; 
	font-family	: arial;
	font-Size	: 10px;
	font-Weight	: normal;   
}

.textboxSolicitudHiper{
	width		: 350px; 
	height		: 15px;
	color		: #001725; 
	font-family	: arial;
	font-Size	: 12px;
	font-Weight	: normal;  
	background-color: transparent; 
}

.textboxSolicitudPlan{
	xwidth		: 174px; 
	height		: 14px;
	color		: #003C74; 
	font-family	: arial;
	font-Size	: 10px;
	font-Weight	: normal;   
	border		: none;
	background	: #FFFFFF;
	filter		: alpha(opacity=100);	
}

.textboxSolicitudPlanBuscar{
	width		: 100px; 
	height		: 14px;
	color		: #003C74; 
	font-family	: arial;
	font-Size	: 10px;
	font-Weight	: normal;   
}

.textoSolicitudPlanBuscar{
	width		: 100px; 
	height		: 14px;
    font-family	: arial;
	font-Size	: 10;
	font-Weight	: bold;
	color		: #1A61E6;
	/*padding		: 5px 15px 0px 15px; top right bottom left*/
}

.comboboxBuscarSS{
	width		: 250px; 
	height		: 20px;
	color		: #003C74; 
	font-family	: arial;
	font-Size	: 10px;
	font-Weight	: normal;   
}

tr.filaSinClick{
	background-color: #F2F9FE;
	font-family		: arial;
	font-Size		: 11px;
	font-Weight		: normal;
	color			: #566C81;
	padding-left	: 10px;
	padding-right	: 10px;
}

tr.filaConClick{
	background-color: #DEF0FD;
	font-family		: arial;
	font-Size		: 11px;
	font-Weight		: normal;
	color			: #ff0000;
	padding-left	: 10px;
	padding-right	: 10px;
}

.buttonSolicitud{
	height		: 22px;
	color		: #1A61E6; 
	font-family	: arial;
	font-Size	: 10px;
	font-Weight	: bold;
}

.dvFondoTransparente
{
	/*Div que ocupa toda la pantalla*/
	position: absolute;
	top		: 0px;
	left	: 0px;
	width	: 100%;
	height	: 100%;
	border	: 10; 
	visibility		: hidden;
	background-color: #C2C4C4;
	filter	: alpha(opacity=30);/*IE*/
	opacity	: .5;				/*FireFox Opera*/
}

.dvPlanesSS{
	top		: 100px; 
	left	: 315px; 
	width	: 540px; 
	border	: 10; 
	position: absolute; 
	visibility: hidden;
	background-color: #84B6DC; 
}

.divCteSCL{
	top		: 100px; 
	left	: 315px; 
	width	: 540px; 
	border	: 10; 
	position: absolute; 
	visibility: hidden;
	background-color: #84B6DC; 
}

textarea{
	width		: 594px;
	color		: #003C74; 
	font-family	: arial;
	font-Size	: 10px;
	font-Weight	: normal;  
}

.textoSolicitud{
	color		: #566C81; 
	font-family	: arial;
	font-Size	: 11px;
	font-Weight	: normal;  
}

.textoSolicitudRojo{
	color		: #FF0000; 
	font-family	: arial;
	font-Size	: 11px;
	font-Weight	: normal;  
}

.centerHistorial
{
	position: absolute;
	/*determinamos una anchura*/
	width: 930px;
	/*determinamos una altura*/
	height: 400px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin-left:0px;
	/*indicamos que el margen superior, es la mitad de la altura*/
	margin-top: 0px;
	border:1px solid #808080;
	background-color:#fff;
	padding:5px;
}

.centerDireccion, div#direccionPopup
{
	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top:10%;
	left:25%;
	/*determinamos una anchura*/
	width: 600px;
	/*determinamos una altura*/
	height: auto;/*340px;*/
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin-left:0px;
	/*determinamos una altura*/
	height:auto; /*170px;*/
	/*indicamos que el margen superior, es la mitad de la altura*/
	margin-top:0px;
	background-color: #84B6DC;
	padding:5px;
}



.fullHistorial
{
	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top:50%;
	left:50%;
	/*determinamos una anchura*/
	width:420px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin-left:-210px;
	/*determinamos una altura*/
	height:120px;
	/*indicamos que el margen superior, es la mitad de la altura*/
	margin-top:-60;
	border:1px solid #808080;
	background-color:#000000;
	padding:5px;
	/* for IE */
  	filter:alpha(opacity=60);
  	/* CSS3 standard */
  	opacity:0.6;

}

.centerSolicitud
{
	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top:50%;
	left:50%;
	/*determinamos una anchura*/
	width:400px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin-left:-200px;
	/*determinamos una altura*/
	height:auto; /*170px;*/
	/*indicamos que el margen superior, es la mitad de la altura*/
	margin-top:0px;
	background-color: #84B6DC;
	padding:5px;
}

.centerBusqueda
{
	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top:10%;
	left:30%;
	/*determinamos una anchura*/
	width:920px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin-left:-200px;
	/*determinamos una altura*/
	height:auto; /*auto;500px;*/
	/*indicamos que el margen superior, es la mitad de la altura*/
	margin-top:0px;
	background-color: #84B6DC;
	padding:5px;
	padding-bottom:15px;
}

.fullSolicitud
{
	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top:50%;
	left:50%;
	/*determinamos una anchura*/
	width:420px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin-left:-210px;
	/*determinamos una altura*/
	height:120px;
	/*indicamos que el margen superior, es la mitad de la altura*/
	margin-top:-60;
	border:1px solid #808080;
	background-color:#000000;
	padding:5px;
	/* for IE */
  	filter:alpha(opacity=60);
  	/* CSS3 standard */
  	opacity:0.6;
}

.textboxDivPuP{
	width		: 160px; 
	height		: 14px;
	color		: #003C74; 
	font-family	: arial;
	font-Size	: 10px;
	font-Weight	: normal;   
}	

.tablaDvPuP, .tablaDvDirPuP{
	/*width			: 390px;*/
	background-color: #F2F9FE;
	color			: #1A61E6;
	margin-left		: auto;
	margin-right	: auto;	
	font-family		: arial;
	font-Size		: 10px;
	font-Weight		: bold;
	padding-top		: 7px;
	padding-left	: 10px;
	padding-right	: 10px;;
	padding-bottom	: 3px;  
}
.tablaDvPuP{
	width : 390px;
}

.tablaDvDirPuP{
	width : 97%;
}


.buttonDvPuP{
	height		: auto;
	color		: #1A61E6; 
	font-family	: arial;
	font-Size	: 10px;
	font-Weight	: normal;
}

.comboboxDvPuP{
	width		: 166px; 
	height		: 20px;
	color		: #003C74; 
	font-family	: arial;
	font-Size	: 10px;
	font-Weight	: normal;   
}

.textboxArt{
	height		: 14px;
	color		: #003C74; 
	font-family	: arial;
	font-Size	: 11px;
	font-Weight	: normal;   
	border		: none;
	background	: none;
}	

.textboxSS{
	height		: 14px;
	color		: #003C74; 
	font-family	: arial;
	font-Size	: 11px;
	font-Weight	: normal;   
	border		: none;
	background	: none;
	width		: 200px; 
}

.divError{
	background-color : #EAF1F6;
	width		: 400px;
	height		: auto;
	padding		: 15px;
	/*position	: absolute;	*/
	left		: 50%;
	right		: 50%;
	/*margin-left	: auto;
	margin-right: auto;*/
	font-family	: arial;
	font-Size	: 12;
	font-Weight	: bold;
	color		: #1A61E6; /*rojo */
}

.textoPagina{
	color : #1A61E6;	
}

.divDetalleHistoria{
	border:none; 
	overflow: scroll;
	overflow-x: hidden;
	height: 200px; 
	width: 815px;
	margin-left:auto;
	margin-right:auto;
	scrollbar-base-color: #D9E5EE;				/*es el color genérico a utilizar por la barra de scroll. Podríamos utilizar únicamente este para dar color a la barra.*/
	scrollbar-darkshadow-color: #D9E5EE;	/*sombra de la barra de progreso*/
	scrollbar-arrow-color: #1C60EB;			/*color de las flechas.*/
	/*scrollbar-3dlight-color: #FFFFFF;*/			/*color del borde que hace el efecto 3D en la barra de scroll.*/
	/*scrollbar-face-color:fuchsia; */			/*el color de lo que es realmente la barra de progreso. Es decir, del bloque que se mueve por la barra.*/
	/*scrollbar-highlight-color:yellow; */		/*el color del fondo de la barra.*/
	
	
	/*scrollbar-shadow-color:gray;*/			/*son los dos botones sobre los que podemos pulsar para desplazar la barra.*/
	/*scrollbar-arrow-color:yellow;*/			/*color de las flechas.*/
	/*scrollbar-track-color:aqua;*/				/*es el color de fondo de la barra de scroll*/
}
	
.inputFile{
	height		: 22px;
	color		: #003C74; 
	font-family	: arial;
	font-Size	: 10px;
	font-Weight	: bold;
	width       : 350px;
}

/*estilo para tag i(italic) utilizado para * de obligatoriedad de campo */
i{
	color		: #FF0000; 
	font-family	: arial;
	font-Size	: 12px;
	font-Weight	: bold;
}	
