h1 {
	color: #0B243B;
	font-size: 20px;
	font-weight: normal;
}

TH {
	border: 1px;
	border-color :green;
	background-color: transparent;
	font-family: arial;
	font-Size: 10px;
	font-Weight: bold;
	color: #084B8A;
}

TD {
	border: 1px;
	border-color: #0B243B;
	font-family: arial;
	font-Size: 10px;
	font-Weight: bold;
	color: #585858;
}

TD.login {
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 12px;
	font-Weight: bold;
	color: #084B8A;
}

TD.totales{
	border:1px;
    padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 8px;
	font-Weight: bold;
	color: #084B8A;
}

TD.prestacion{
	padding-right:5px;
	align: right;
}

.campoInf {
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 10px;
	font-Weight: bold;
	color: #084B8A;
}
.error {
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 10px;
	font-Weight: bold;
	color: red;
}

.resultInf {
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 10px;
	font-Weight: bold;
	color: #585858;
}


.campoObligatorio{
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 10px;
	font-Weight: bold;
	color: red;
}

A:link{
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 12px;
	font-Weight: bold;
	color: white;
	}
A:visited{
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 12px;
	font-Weight: bold;
	color: white;
	}
A:active{
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 12px;
	font-Weight: bold;
	color: white;
	}
#disablingDiv
{
    display: none; 
 
    z-index:1001;
     
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
 
    background-color: #D8D8D8; 
    opacity:.00; 
    filter: alpha(opacity=30); 
}
