h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #666666;
	font-size: 12px;
}

TD.detalle {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #666666;
	text-align: left;
	vertical-align: middle;
	padding-left: 2px;
	border: 1px none #CCCCCC;
}


TD.detalleSerie {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-align: center;
	vertical-align: middle;
}

TH.detalle {
	background-color: #EBE9DC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #666666;
	text-align: left;
	vertical-align: middle;
	padding-left: 2px;
	border: 1px none #CCCCCC;
	font-weight: bold;
}

TH.detalleSerie {
	background-color: #EBE9DC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

TD.subTitulo {
	border: 1px;
	border-color: #0B243B;
	padding-left: 5px;
	padding-right: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: GREEN;
}

TD.titulo{
	border: 1px;
	border-color: #0B243B;
    padding-left: 5px;
	padding-right: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #003399;
	margin-top: 1px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.txtTitulo {
	padding-left: 5px;
	padding-right: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #003399;
}

.txtSubTitulo {
	padding-left: 5px;
	padding-right: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: GREEN;
}

.error {
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 10px;
	font-Weight: bold;
	color: red;
}

.divDatos {
 	width: 75%; 
 	margin-right: 0%	
}

.txtInfo {
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 10px;
	font-Weight: bold;
	color: #666666;
}

A:link{
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 12px;
	font-Weight: bold;
	color: white;
	}
A:visited{
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 12px;
	font-Weight: bold;
	color: white;
	}
A:active{
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial;
	font-Size: 12px;
	font-Weight: bold;
	color: white;
	}
#disablingDiv
{
    display: none; 
 
    z-index:1001;
     
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
 
    background-color: #D8D8D8; 
    opacity:.00; 
    filter: alpha(opacity=30); 
}

#detArtic {  
	list-style:none;
	margin:0;
	padding:0;
}
#detArtic li {
	margin:1px;
	padding:1px;
}

select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	border: 1px solid #999999;
}

#campoText{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	border: 1px solid #999999;
}

.barraarriba {
	background-color: #8EC135;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	border: 1px none #CCCCCC;
	cursor: pointer
}

.pantModif{
	width:40%;
	height:40%;
	position:fixed;
	top:50%;
	left:50%;
	margin-left: -20%;
	margin-top: -10%;
	background:url() center no-repeat transparent;
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
    border: 1px solid;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #4F8A10;
    background-color: #DFF2BF;
}

.divBloqueador{
	position: absolute;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;        /* hacemos que ocupe toda la pantalla a cualquier resolución*/
	z-index: 50;        /* lo colocamos por encima del resto de componentes*/
	background: url(b.png) repeat;  /*Color de fondo semitransparente*/
}
