<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QuioscoWEB</display-name>
  <welcome-file-list>
    <welcome-file>index1.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/config/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <security-constraint>
- <web-resource-collection>
  <web-resource-name>security</web-resource-name> 
  <url-pattern>/action/InicioAction.do</url-pattern>
  <http-method>POST</http-method>
  </web-resource-collection>
- <auth-constraint>
  <description>Roles:+:</description> 
  <role-name>SuperUsuarios</role-name>
  <role-name>MantenedorUsuarios</role-name> 
  <role-name>VendedorUsuarios</role-name>  
  </auth-constraint>
  </security-constraint>
- <login-config>
  <auth-method>FORM</auth-method> 
- <form-login-config>
  <form-login-page>/action/LoginAction.do?accionLogin=iniciarLogin</form-login-page> 
  <form-error-page>/main/hdn_error.jsp?desError=Usuario y/ó Conraseña Incorrecto(s).</form-error-page>
  </form-login-config>
  </login-config>
- <security-role>
  <role-name>SuperUsuarios</role-name> 
  </security-role>
  <security-role>
  <role-name>MantenedorUsuarios</role-name> 
  </security-role>
   <security-role>
  <role-name>VendedorUsuarios</role-name>  
  </security-role>
</web-app>