<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>ConsultaSACWEB</display-name>
	<servlet>
		<servlet-name>AbonadosXCelular</servlet-name>
		<display-name>AbonadosXCelular</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.servlet.AbonadosXCelular</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AbonadosXCodCliente</servlet-name>
		<display-name>AbonadosXCodCliente</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.servlet.AbonadosXCodCliente</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClientesXCodCliente</servlet-name>
		<display-name>ClientesXCodCliente</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.servlet.ClientesXCodCliente</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClientesXCuenta</servlet-name>
		<display-name>ClientesXCuenta</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.servlet.ClientesXCuenta</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClientesXNombre</servlet-name>
		<display-name>ClientesXNombre</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.servlet.ClientesXNombre</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CuentasXNumIdent</servlet-name>
		<display-name>CuentasXNumIdent</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.servlet.CuentasXNumIdent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CuentasXNombre</servlet-name>
		<display-name>CuentasXNombre</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.servlet.CuentasXNombre</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CuentasXCodigo</servlet-name>
		<display-name>CuentasXCodigo</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.servlet.CuentasXCodigo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultasConfig</servlet-name>
		<display-name>ConsultasConfig</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.config.servlet.ConsultasConfig</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HttpServicesConfig</servlet-name>
		<display-name>HttpServicesConfig</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.config.servlet.HttpServicesConfig</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OOSSConfig</servlet-name>
		<display-name>OOSSConfig</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.config.servlet.OOSSConfig</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PortalSACConfig</servlet-name>
		<display-name>PortalSACConfig</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.config.servlet.PortalSACConfig</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultaRegiones</servlet-name>
		<display-name>ConsultaRegiones</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.servlet.ConsultaRegiones</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultaProvincias</servlet-name>
		<display-name>ConsultaProvincias</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.servlet.ConsultaProvincias</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultaComunas</servlet-name>
		<display-name>ConsultaComunas</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.servlet.ConsultaComunas</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultaCiudades</servlet-name>
		<display-name>ConsultaCiudades</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.servlet.ConsultaCiudades</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultaTiposSiniestro</servlet-name>
		<display-name>ConsultaTiposSiniestro</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.avisosiniestro.ConsultaTiposSiniestro</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultaTiposSuspension</servlet-name>
		<display-name>ConsultaTiposSuspension</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.avisosiniestro.ConsultaTiposSuspension</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultaCausasSiniestro</servlet-name>
		<display-name>ConsultaCausasSiniestro</display-name>
		<description></description>
		<servlet-class>com.tmmas.scl.wsportal.consultas.avisosiniestro.ConsultaCausasSiniestro</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AbonadosXCelular</servlet-name>
		<url-pattern>/ConsultasAbonado/AbonadosXCelular</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AbonadosXCodCliente</servlet-name>
		<url-pattern>/ConsultasAbonado/AbonadosXCodCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientesXCodCliente</servlet-name>
		<url-pattern>/ConsultasCliente/ClientesXCodCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientesXCuenta</servlet-name>
		<url-pattern>/ConsultasCliente/ClientesXCuenta</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientesXNombre</servlet-name>
		<url-pattern>/ConsultasCliente/ClientesXNombre</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CuentasXCodigo</servlet-name>
		<url-pattern>/ConsultasCuenta/CuentasXCodigo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CuentasXNombre</servlet-name>
		<url-pattern>/ConsultasCuenta/CuentasXNombre</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CuentasXNumIdent</servlet-name>
		<url-pattern>/ConsultasCuenta/CuentasXNumIdent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultasConfig</servlet-name>
		<url-pattern>/ConsultasPropiedades/ConsultasConfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HttpServicesConfig</servlet-name>
		<url-pattern>/ConsultasPropiedades/HttpServicesConfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OOSSConfig</servlet-name>
		<url-pattern>/ConsultasPropiedades/OOSSConfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PortalSACConfig</servlet-name>
		<url-pattern>/ConsultasPropiedades/PortalSACConfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaRegiones</servlet-name>
		<url-pattern>/ConsultasDireccion/ConsultaRegiones</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaProvincias</servlet-name>
		<url-pattern>/ConsultasDireccion/ConsultaProvincias</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ConsultaCiudades</servlet-name>
		<url-pattern>/ConsultasDireccion/ConsultaCiudades</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaComunas</servlet-name>
		<url-pattern>/ConsultasDireccion/ConsultaComunas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaTiposSiniestro</servlet-name>
		<url-pattern>/Consultas/AvisoSiniestro/ConsultaTiposSiniestro</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaTiposSuspension</servlet-name>
		<url-pattern>/Consultas/AvisoSiniestro/ConsultaTiposSuspension</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaCausasSiniestro</servlet-name>
		<url-pattern>/Consultas/AvisoSiniestro/ConsultaCausasSiniestro</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
