BODY
{
    BACKGROUND-COLOR: #9999cc
}
.calHeader
{
    COLOR: #666699;
    FONT-FAMILY: Arial;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}
.calText
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 11px
}
.calBkgnd
{
    BACKGROUND-COLOR: #ffffcc;
    BORDER-BOTTOM: #666699 2px outset;
    BORDER-LEFT: #666699 2px outset;
    BORDER-RIGHT: #666699 2px outset;
    BORDER-TOP: #666699 2px outset
}
.calDayHeader
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    HEIGHT: 22px;
    TEXT-ALIGN: center;
    WIDTH: 28px
}
.calInactiveDay
{
    COLOR: gray;
    FONT-FAMILY: Arial;
    FONT-SIZE: 11px;
    HEIGHT: 22px;
    WIDTH: 28px
}
.calActiveDay
{
    BORDER-BOTTOM: #6666cc 1px outset;
    BORDER-LEFT: #6666cc 1px outset;
    BORDER-RIGHT: #6666cc 1px outset;
    BORDER-TOP: #6666cc 1px outset;
    COLOR: #666699;
    CURSOR: hand;
    FONT-FAMILY: Arial;
    FONT-SIZE: 11px;
    HEIGHT: 22px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: underline;
    WIDTH: 28px
}
.calAcitveDayRO
{
    BORDER-BOTTOM: #6666cc 1px outset;
    BORDER-LEFT: #6666cc 1px outset;
    BORDER-RIGHT: #6666cc 1px outset;
    BORDER-TOP: #6666cc 1px outset;
    COLOR: #666699;
    CURSOR: hand;
    FONT-FAMILY: Arial;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    HEIGHT: 22px;
    TEXT-ALIGN: center;
    WIDTH: 28px
}
