<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>PortalVentasWeb</display-name>
	
	<!-- Display Tag -->
	<filter>
		<filter-name>ResponseOverrideFilter</filter-name>
		<filter-class>
			org.displaytag.filter.ResponseOverrideFilter
		</filter-class>
	</filter>
	<filter>
	<filter-name>FiltroSesion</filter-name>
	<filter-class>com.tmmas.cl.scl.portalventas.web.helper.CapturaTimeOut</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>ResponseOverrideFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResponseOverrideFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>FiltroSesion</filter-name>
		<url-pattern>*.do</url-pattern> 
	</filter-mapping>
	

	

	<!-- Standard Action Servlet Configuration (with debugging) -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/config/struts-config.xml,/WEB-INF/config/struts-config-altacliente.xml,/WEB-INF/config/struts-config-direcciones.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<display-name>DWR Servlet</display-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
    		<param-name>config-altacliente</param-name>
    		<param-value>WEB-INF/dwr-alta-cliente.xml</param-value>
  		</init-param>
		<init-param>
    		<param-name>config-direcciones</param-name>
    		<param-value>WEB-INF/dwr-direcciones.xml</param-value>
  		</init-param>
		<init-param>
    		<param-name>config-portal</param-name>
    		<param-value>WEB-INF/dwr.xml</param-value>
  		</init-param> 	
	</servlet>
	<!-- Barra de Progreso -->
	<servlet>
		<servlet-name>ProgressServlet</servlet-name>
		<servlet-class>
			com.tmmas.cl.scl.portalventas.web.servlet.ProgressServlet
		</servlet-class>
		<init-param>
			<param-name>millis2refresh</param-name>
			<param-value>2000</param-value>
		</init-param>
		<init-param>
			<param-name>millis2close</param-name>
			<param-value>3000</param-value>
		</init-param>
	</servlet>
	<!-- Fin Barra de Progreso -->
	<servlet>
		<servlet-name>DocDigitalizadoServlet</servlet-name>
		<display-name>DocDigitalizadoServlet</display-name>
		<description></description>
		<servlet-class>
		com.tmmas.cl.scl.portalventas.web.servlet.DocDigitalizadoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DocDigitalizadoArchivoServlet</servlet-name>
		<display-name>DocDigitalizadoArchivoServlet</display-name>
		<description></description>
		<servlet-class>
		com.tmmas.cl.scl.portalventas.web.servlet.DocDigitalizadoArchivoServlet</servlet-class>
	</servlet>
	

	<!-- Standard Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProgressServlet</servlet-name>
		<url-pattern>ProgressServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DocDigitalizadoServlet</servlet-name>
		<url-pattern>/DocDigitalizadoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DocDigitalizadoArchivoServlet</servlet-name>
		<url-pattern>/DocDigitalizadoArchivoServlet</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<taglib>
		<taglib-uri>/tags/struts-bean</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/struts-html</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/struts-logic</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/struts-nested</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/struts-tiles</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
	</taglib>
	
	<taglib>
		<taglib-uri>/tags/displaytag</taglib-uri>
		<taglib-location>/WEB-INF/tld/displaytag-12.tld</taglib-location>
	</taglib>	
	
	<taglib>
		<taglib-uri>/WEB-INF/struts-bean-el.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-bean-el.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/WEB-INF/struts-html-el.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-html-el.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/WEB-INF/struts-logic-el.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-logic-el.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/WEB-INF/c.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/fmt.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
	</taglib>
</web-app>
