Alert	{
    background-color: #d3e0f8;
    color: #000000;
    border-color: #466294;
    dropShadowEnabled: false;
    font-family:verdana;
    font-size:12;
}

.TablaDatos	{
	horizontalGap: 0;
	verticalGap: 0;
	borderColor: #000000;
	borderStyle: solid;
	cornerRadius: 3;	
}
table.principal {
	border-width: 5px;
	border-spacing: ;
	border-style: solid;
	border-color: #9ECA52;
	border-collapse: collapse;	
	background-repeat: no-repeat;
	background-position: center;
}
.CeldaConEncabezado	{
	backgroundColor: #8AE048;
	horizontalAlign: center;
	verticalAlign: middle;
}

.EncabezadoTabla	{
	font-family: verdana;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	
}

.TituloCampo	{
	fontFamily: verdana;
	color: #000000;
	fontSize: 10;
	fontWeight: none;
	height: 100;
}

.CeldaConTituloCampo	{
	paddingLeft: 5;
	backgroundColor: #d3e0f8;
	horizontalAlign: left;
	verticalAlign: middle;
}

.CeldaConTextoCampo	{
	paddingLeft: 5;
	backgroundColor: #ffffff;
	horizontalAlign: left;
	verticalAlign: middle;
}
.TextoLabel {
	font-family: verdana;
	color: #000000;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
}
.TextoLabelNoAlign {
	font-family: verdana;
	color: #000000;
	font-size: 10px;
	font-weight: bold;
}
.TextoLabelError {
	font-family: verdana;
	color: #000000;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}
.TextoCampo	{
	font-family: verdana;
	color: #000000;
	font-size: 10px;
	font-weight: none;
}
.TextoBlanco {
	font-family: verdana;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
}
.TextoError {
	font-family: verdana;
	color: red;
	font-size: 14px;
	font-weight: bold;
}
.TextNum {
	text-align: right;
	font-family: verdana;
	color: #000000;
	font-size: 10px;
	font-weight: none;
}
.boton {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	background-color: transparent;
	padding: 2px;
	height: 25px;
	width: 100px;
	/*border: 1px silver #000000;*/
}