.titmenucafe {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #3D7C3B;
	text-decoration: none;
	border-left-style: none;
	padding-left: 3px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	padding-top: 2px;
	padding-bottom: 1px;
}
.subtitmenucafe {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #999999;
	background-color: #f7f8f3
}
li {
	list-style-position: outside;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
	text-align: left;
	white-space: normal;
	padding-left: 0px;
	margin-left: 0px;
	left: 2px;
	clip: rect(auto,auto,auto,2px);
	width: 100px;
	border-left-style: none;
	list-style-image: url(img/px_cafe.jpg);
	float: none;
	vertical-align: middle;
}
ul {
	margin: 2px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 7px;
}

a.li {
	list-style-position: outside;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	text-align: left;
	white-space: normal;
	padding-left: 0px;
	margin-left: 0px;
	left: 10px;
	clip: rect(auto,auto,auto,2px);
	width: 100px;
	border-left-style: none;
	background-color: #00FF00;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #9ECA52;
	top: 0px;
	background-position: top;
	margin-top: 1px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	border: 1px solid #999999;
}

.lineapunteadablanca {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: dashed;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
}
.emes {
	background-attachment: fixed;
	background-image: url(img/m_trans_2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: text;
}
#form1 select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	border: 1px solid #999999;
	height: 20px;
	width: 160px;
}

.textoTitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #003399;
	margin-top: 1px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.textoSubTitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003399;
	margin-top: 1px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.textcaminohormigas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #003399;
	text-decoration: none;
	border-bottom-width: 0px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	height: 0px;
	padding-bottom: 1px;
	margin-bottom: 1px;
	vertical-align: top;
	margin-top: 1px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #FFFFE6;
}

.titformularios {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}

input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
}

textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	border: 1px solid #999999;
}

.body {
	background-color: #f7f8f3;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin: 0px 0px 0px 0px;
}
	
.textobarraverde {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

a:link {
	color: #999999;
}

a:visited {
	color: #999999;
}

a:hover {
	color: #78B454;
}

a:active {
	color: #999999;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
}

.lineablancaancho {
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-right-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

.lineapunteadaverde {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: dashed;
	border-top-color: #78B454;
	border-right-color: #78B454;
	border-bottom-color: #78B454;
	border-left-color: #78B454;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
}

#uno {
	position:absolute;
	left:472px;
	top:14px;
	width:304px;
	height:291px;
	background-color: #163A86;
}

.verde {

	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #78B454;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	border: 1px none #CCCCCC;
}

.lineapunteadablanca2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: dashed;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	border-top-style: dashed;
}

.textointroblanco {

	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: none;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
}

.emes2 {

	background-attachment: fixed;
	background-image: url(img/px_verde1.jpg);
	background-repeat: repeat;
	background-position: center center;
	cursor: text;
}

p {
	text-align: center;
}

.footer {

	background-color: #8EC135;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:normal;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	border: 1px none #CCCCCC;
}

.barraarriba {
	background-color: #8EC135;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	border: 1px none #CCCCCC;
}

.campoInformativo{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: normal;
   text-decoration: none;
   color: #666666;
   text-align: left;
   vertical-align: top;
   padding-left: 2px;
   border: 1px none #CCCCCC;
}

.valorCampoInformativo{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: normal;
   text-decoration: none;
   color: #666666;
   text-align: left;
   vertical-align: top;
   padding-left: 2px;
   border: 1px none #CCCCCC;
}

.campoSeleccionable{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #666666;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	border: 1px none #CCCCCC;
}

.valorCampoSeleccionable{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: normal;
   text-decoration: none;
   color: #666666;
   text-align: left;
   vertical-align: top;
   padding-left: 2px;
   border: 1px none #CCCCCC;
}

.textoColumnaTabla{
	background-color: #EBE9DC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #666666;
	text-align: center;
	vertical-align: middle;
	padding-left: 2px;
	border: 1px none #CCCCCC;
}
.textoFilasTabla{
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #666666;
	text-align: left;
	vertical-align: middle;
	padding-left: 2px;
	border: 1px none #CCCCCC;
}

.textoFilasColorTabla{
	background-color: #F8F8F3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #666666;
	text-align: left;
	vertical-align: middle;
	padding-left: 2px;
	border: 1px none #CCCCCC;
}

.mensajeError {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #DC143C;
	margin-top: 1px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	text-align: center;
}
.bordetab {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;	
}
.tabActivo {
	font-style: normal;
	color: #FFFFFF;
	font-weight: bold;
	cursor: default;
	
}
.tabDesactivo {
	cursor: pointer;
}
.tab_activada {
	background-image: url(../img/tabuOn.gif);
	background-repeat: no-repeat;	
}
.tab_desactivada {
	background-image: url(../img/tabuOff.gif);
	background-repeat: no-repeat;
}

.intexto {
	background-color: #E0FEE4;
	border: 0px 1 0;
}

.error {
	background-color: #FF3333;
	color: #FFFFFF;
}

